
    <center>
    <h1>Tarot Card Dealer</h1>
    </center>
    <center>
    <table class="a">
    <tr>
    <td>
    <center><button class="button" onclick="location.href='/view/<%=@entry.tarot[0]%>,<%=@entry.id%>'" type=button><img src="/images/<%=@entry.tarot[0]%>.jpg"></button></center>
    </td>
    <td>
    <center><button class="button" onclick="location.href='/view/<%=@entry.tarot[1]%>,<%=@entry.id%>'" type=button><img src="/images/<%=@entry.tarot[1]%>.jpg"></button></center>
    </td>
    <td>
    <center><button class="button" onclick="location.href='/view/<%=@entry.tarot[2]%>,<%=@entry.id%>'" type=button><img src="/images/<%=@entry.tarot[2]%>.jpg"></button></center>
    </td>
    </tr>
    <tr>
    <td>
    <center>
    <%=@entry.tarotlog[0]%>
    </center>
    </td>
    <td>
    <center>
    <%=@entry.tarotlog[1]%>
    </center>
    </td>            
    <td>
    <center>
    <%=@entry.tarotlog[2]%>
    </center>
    </td>
    </tr>
    </table>
        <form action='/tarot/<%= @entry.id%>' enctype="multipart/form-data" method='POST'> 
        <textarea rows=10 cols=80 name="log"/></textarea>
        <br>
        <input type="Submit" value="Add My Thoughts" />
        </form>
        <button class="button" onclick="location.href='/journal#<%= @entry.id%>'" type=button>Return to Journal</button>
        </center>


